//
//  Staging.xcconfig
//  Cosmo
//
//  Created by Ravi Rajendran on 04/04/2023.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Base.xcconfig"

API_BASE_URL = cosmo-api.develop-sr3snxi-x6u2x52ooksf4.de-2.platformsh.site
PRODUCT_BUNDLE_IDENTIFIER = fr.ravi-staging.Cosmo
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym
